In [ ]:
# importing pandas as pd
import pandas as pd

In [4]:
# sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, '4', '5'],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '2.1', 3.0, '4.1', '5.1'] })

df

   A  B    C
0  1  a  1.1
1  2  b  2.1
2  3  c    3
3  4  d  4.1
4  5  e  5.1

In [5]:
print(df.dtypes)

A    object
B    object
C    object
dtype: object

### **Convert Using 'apply()' Method**

In [2]:
# using apply method
df[['A', 'C']] = df[['A', 'C']].apply(pd.to_numeric)
print(df.dtypes)

A      int64
B     object
C    float64
dtype: object

### **Using 'to_numeric()' Method**

In [12]:
# sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3, '4', '5'],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [1.1, '2.1', 3.0, '4.1', '5.1'] })

In [13]:
df['C'] = pd.to_numeric(df['C'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      object
 1   B       5 non-null      object
 2   C       5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 248.0+ bytes

### **To Numeric Data Type without failing**

In [11]:
# sample data
s = pd.Series(['1', '2', '4.7', 'pandas', '10'])
s

0         1
1         2
2       4.7
3    pandas
4        10
dtype: object

In [9]:
# if we try
pd.to_numeric(s)
# will raise error

ValueError: ignored

In [10]:
# but We can coerce invalid values to NaN as follows
pd.to_numeric(s, errors='coerce')

0     1.0
1     2.0
2     4.7
3     NaN
4    10.0
dtype: float64

### **Using 'downcast'**

In [14]:
s = pd.Series([1, 2, -7])
s

0    1
1    2
2   -7
dtype: int64

In [15]:
pd.to_numeric(s, downcast='integer')

0    1
1    2
2   -7
dtype: int8

In [16]:
pd.to_numeric(s, downcast='float')

0    1.0
1    2.0
2   -7.0
dtype: float32

### **Change Date Type Format**

In [24]:
df = pd.DataFrame({'DOB': {0: '26/1/2016', 1: '26/1/2016'}})
df

         DOB
0  26/1/2016
1  26/1/2016

In [25]:
df['DOB1'] = pd.to_datetime(df.DOB)
df

         DOB       DOB1
0  26/1/2016 2016-01-26
1  26/1/2016 2016-01-26

In [28]:
df['DOB2'] = df['DOB1'].dt.strftime('%d/%m/%Y')
df

         DOB       DOB1        DOB2
0  26/1/2016 2016-01-26  26/01/2016
1  26/1/2016 2016-01-26  26/01/2016

In [29]:
df["DOB3"] = pd.to_datetime(df["DOB1"]).dt.strftime('%Y-%m-%d')
df

         DOB       DOB1        DOB2        DOB3
0  26/1/2016 2016-01-26  26/01/2016  2016-01-26
1  26/1/2016 2016-01-26  26/01/2016  2016-01-26